<nav>
  <div class="site-title">
    <a href="/"><h1>Ideas Galore</h1></a>
    <p>A web collection</p>
  </div>
  <ul>
    <li><a href="/">Posts</a></li>
    <li><a href="/posts/create">New Post</a></li>
  </ul>
</nav>